# <span align="center" style="color: #47AA36;"> ¡Descubre datos exclusivos Clash of Clans y Clash Royale! </span>


## <span align="center" style="color: #47AA36;"> Proyecto de Webscraping con APIS </span>

## <span style="color:rgb(204, 153, 0)"> Descripción del juego Clash of Clans</span>
También conocido como CoC, Clash of Clans es un videojuego de estrategia multijugador en el que los jugadores asumen el papel de jefes de clanes y construyen y mejoran sus aldeas. Al mismo tiempo, el usuario puede crear o unirse a un clan, donde podrá interactuar con otros jugadores.

El juego se desarrolla en un entorno multijugador en línea, lo que permite a los jugadores interactuar con otros jugadores de todo el mundo a través de chat y sistema de clanes.

Fue desarrollado por Supercell y lanzado para dispositivos iOS el 2 de agosto del 2012 y el 8 de octubre para dispositivos Android.

Antes de iniciar con el WebScraping, necesitamos crear una cuenta en la web API de Clash of Clans (https://developer.clashofclans.com/#/register) para obtener nuestra clave token.

<img src="https://i.pinimg.com/originals/11/ae/b7/11aeb7ddb3f1d518648a1e36b32b2069.png" alt="Clash of Clans" width="500">

## <span style="color: #F06292"> Pasos Token en ambas apis </span>

1. **Crear una nueva clave (new key) y colocar dentro de ella los siguientes requisitos:**  
   - Key Name (Nombre de usuario)
   - Description (Descripción)
   - IP Addresses (Dirección IP): Es un identificador numérico único para cada dispositivo conevtado a internet o una red local.

   ![Paso 1](https://pbs.twimg.com/media/FzCuC88XgAAKYGV?format=jpg&name=small)

2. **Generar un token:**
   Una vez ingresados los requisitos anteriores, se genera un token que se utilizará para realizar llamadas o solicitudes exitosas.

   ![Paso 2](https://pbs.twimg.com/media/FzCyXybXoAAF_ay?format=jpg&name=small)

3. **COpiar el token:**
   Para trabajar con los códigos proporcionados, adjunta o copia el token generado en los archivos de texto que les hemos brindado, llamados "token_cc.txt" y "token_cr.txt" respectivamente.

   ![Paso 3](https://pbs.twimg.com/media/FzC2_sTWwAQMVU-?format=jpg&name=small)

## <span style="color: #34253B"> WebScraping mediante API's [ Clash of Clans ] </span>

## <span style="color: #597aa2"> Conexión con la url (str) </span>

In [2]:
#Importamos las librerías que vamos a necesitar en nuestro trabajo
import urllib.request
from urllib.request import urlopen
import urllib.parse
import pandas as pd
import requests
import json
import polars as pl
import re

#Abrimos el archivo y leemos el token generado guardado en un archivo texto
with open("token_cc.txt") as f:
    my_key2 = f.read().rstrip("\n")
#Para generar tu token debes obtener tu IP de localización, el cual es privado, luego de ello, podrás almacenar tu 
#token en un archivo de texto y realozar la solicitud correspondiente

#URL base de la API de Clash of Clans
base_url = "https://api.clashofclans.com/v1"

#Parámetro para obtener todos los clanes que tengan 20 o más miembros
endpoint = "/clans?minMembers=20"

#Creamos una solicitud HTTP con la clave de autenticación en el encabezado
request = urllib.request.Request(
    base_url + endpoint,
    None,
    {"Authorization": "Bearer %s" % my_key2}
)

![Clash of Clans](https://pbs.twimg.com/media/FzC4Ud6XgAAE7zI?format=png&name=small)

In [3]:
# Hacemos la solicitud y obtenemos la respuesta
uclient = urlopen(request)
responsehtml = uclient.read()
uclient.close()

# Decodificamos la respuesta
datos = responsehtml.decode()

# Tenemos los datos obtenidos
#print(datos)

### <span style="color: #C340D6"> Pasar a diccionario (dict) </span>

In [4]:
#Convertimos a diccionario con json ya que esta Api está en este formato
datos_dict = json.loads(datos)
print(type(datos_dict))

<class 'dict'>

### <span style="color: #A6BD4C"> Primer filtrado (df) </span>

In [5]:
#Vamos a filtrar tales aspectos y agruparlos de acuerdo a la cantidad de puntos de los clanes, 
#con el fin de compararlo con Clash Royale

puntos_clanes = []
nombres_clanes = []
tipos = []
location = []
niveles_clanes = []
miembros = []
tag = []

for item in datos_dict["items"]:
    puntos_clanes.append(item['clanPoints'])
    nombres_clanes.append(item['name'])
    tipos.append(item['type'])
    ubicacion = item['location']['name'] if 'location' in item and 'name' in item['location'] else ''
    location.append(ubicacion)
    niveles_clanes.append(item['clanLevel'])
    miembros.append(item['members'])
    tag.append(item['tag'])

#Creamos el diccionario
dff = {
    'ClanPoints CoC': puntos_clanes,
    'Nombre CoC': nombres_clanes,
    'Tipo CoC': tipos,
    'Location CoC': location,
    'Nivel de clan CoC': niveles_clanes,
    'Miembros CoC': miembros,
    'Tag CoC': tag}

### <span style="color: #F34230"> Pasar a dataframe (df) </span>

In [6]:
#Creamos el dataframe con Pandas
clan = pd.DataFrame(dff)
#print(DFF)

CLAN = clan.sort_values(by='ClanPoints CoC', ascending=False).head(10).reset_index(drop=True)
#print(DFF)

#Ya que la información obtenida es en tiempo real, esto nos ayuda a fijar siempre el primer Tag y así usarlo posteriormente
#en operaciones relacionadas con dicho clan seleccionado.
primero = CLAN.loc[0, 'Tag CoC']
print(primero)

CLAN

#Observamos el clan con la mayoría de puntos:

#PQ9V029V

,ClanPoints CoC,Nombre CoC,Tipo CoC,Location CoC,Nivel de clan CoC,Miembros CoC,Tag CoC
0,40470,PINOY 2.0,inviteOnly,Lesotho,29,50,#PQ9V029V
1,34770,Whiskey Barrels,inviteOnly,International,13,48,#2LQCYPCPL
2,34746,سوته دلان,inviteOnly,Iran,21,30,#8V9JVYGJ
3,34421,the dragon clan,inviteOnly,International,21,47,#RLV2QRUV
4,33579,Ordo Ab Chao,closed,,11,20,#2LLG2G0V2
5,33563,sttar,inviteOnly,Iran,23,37,#29QQLV9Q
6,33435,MANABA RIVERS,closed,Philippines,18,41,#JQJUJPRV
7,31782,العربي الدلفي,inviteOnly,Iraq,15,50,#9VJLUQ8U
8,31715,HKG Premier,inviteOnly,Hong Kong,20,24,#9PC0GRY2
9,31357,أنين الثلجX,inviteOnly,International,22,39,#8CRULY2

<img src="https://pbs.twimg.com/media/FNUIgMjWYAEGc7t.jpg" alt="Clash of Clans" width="500">

## <span style="color: #597aa2"> Segunda conexión con la url (str) </span>

In [7]:
# Codificar el valor de "primero"
tags = urllib.parse.quote(primero)

# Leer la clave de autenticación desde el archivo "keyJimena.txt"
with open("token_cc.txt") as f:
    my_key2 = f.read().rstrip("\n")

# URL base de la API de Clash of Clans
base_url = "https://api.clashofclans.com/v1"

# Construir el endpoint de la solicitud con el valor codificado
endpoint = "/clans/%s/members" % tags

# Construir la solicitud con la clave de autenticación
request = urllib.request.Request(
    base_url + endpoint,
    None,
    {
        "Authorization": "Bearer %s" % my_key2
    }
)

# Realizar la solicitud y obtener la respuesta
uclient = urllib.request.urlopen(request)
responsehtml = uclient.read()
uclient.close()

# Decodificar los datos de la respuesta
datos1 = responsehtml.decode()
#print(datos1)

### <span style="color: #C340D6"> Pasar a diccionario (dict) </span>

In [8]:
datos_d = json.loads(datos1)
print(type(datos_d))
#print(datos_d)

<class 'dict'>

### <span style="color: #A6BD4C"> Segundo filtrado (df) </span>

In [9]:
#Vamos a filtrar los jugadores del clan con mayor cantidad de puntos
#Se crean las listas vacías para almacenar los datos de los jugadores
nombre = []
rol = []
experiencia = []
trofeos = []
rango = []

#Se hace una iteración sobre los elementos de datos_d["items"] y extraemos los valores
for i in range(len(datos_d["items"])):
    nombre.append(datos_d["items"][i]['name'])
    rol.append(datos_d["items"][i]['role'])
    experiencia.append(datos_d["items"][i]['expLevel'])
    trofeos.append(datos_d["items"][i]['trophies'])
    rango.append(datos_d["items"][i]['clanRank'])

#Creamos un diccionario con las listas recopiladas
frame = {'Nombres CoC': nombre, 'Roles CoC': rol, 'Nivel de experiencia CoC': experiencia, 'Trofeos CoC': 
         trofeos, 'Rango del clan CoC': rango}

### <span style="color: #F34230"> Pasar a dataframe (df) </span>

In [10]:
#Convertimos a dataframe
DF = pd.DataFrame(frame)

#Ordenamos en función a los trofeos obtenidos los miembros
DF1 = DF.sort_values(by='Trofeos CoC', ascending=False).head(10).reset_index(drop=True)

DF1

,Nombres CoC,Roles CoC,Nivel de experiencia CoC,Trofeos CoC,Rango del clan CoC
0,kiss my,coLeader,243,5351,1
1,sharif,coLeader,235,5203,2
2,one-9,coLeader,241,5113,3
3,darKFRizt,admin,214,4986,4
4,HOW*TO*CONQUER,admin,231,4924,5
5,jas,coLeader,237,4844,6
6,destroyerlee,admin,243,4542,7
7,Tills,admin,223,4403,8
8,Jobuga,admin,224,4298,9
9,one-9,coLeader,231,4183,10

## <span style="color:rgb(75, 150, 171)"> Descripción del juego Clash Royale</span>


Tambien conocido como CR es un juego de estrategia y combate en tiempo real ambientada en el mismo universo de Clash of Clans, tambien desarrollada por Supercell. Combina elementos de juegos de cartas coleccionables, defensa de torres y estrategia multijugador en línea.
Antes de iniciar con el WebScraping necesitamos crear una cuenta en la web API https://developer.clashroyale.com/#/ para obtener nuestra clave token.


<img src="https://assets-prd.ignimgs.com/2022/05/27/clashroyale-1653673820137.jpg" alt="Clash of Clans" width="500">

## <span style="color: #34253B"> WebScraping mediante API's [ Clash Royale] </span>

## <span style="color: #709f1d"> Conexión con la url (str) </span>

In [11]:
import urllib.request
from urllib.request import urlopen
import pandas as pd
import requests
import json
import polars as pl
with open("token_cr.txt") as f:
    my_key =f.read().rstrip("\n")
    
    base_url = "https://api.clashroyale.com/v1"
    
    #endpoint = "/cards"
    endpoint = "/clans?minScore=16000"
    
    request = urllib.request.Request(
        base_url+endpoint,
        None,
        {
            "Authorization": "Bearer %s" % my_key
        }
    )

![Clash Royale](https://pbs.twimg.com/media/FzC_YtBXwAAfS5z?format=jpg&name=small)

In [13]:
    uclient=urlopen(request)
    responsehtml=uclient.read()
    data = responsehtml#.decode("utf-8")
    uclient.close()
    
    #data
    #print(data)

## <span style="color: #26a783"> Pasar a diccionario (dict) </span>

In [14]:
info= json.loads(data)
print(type(info))

<class 'dict'>

## <span style="color: #A6BD4C"> Filtrado (df) </span>

In [15]:
clanPoints = []
location=[]
member=[]
clan=[]
Type=[]
Tag =[]
#print(info["items"][0])
for i in range(len(info["items"])):
    clanPoints.append(info["items"][i]['clanScore'])
    location.append(info["items"][i]['location']['name'])
    member.append(info["items"][i]["members"])
    clan.append(info ["items"][i]["name"])
    Type.append(info["items"][i]["type"])
    Tag.append(info["items"][i]["tag"])
dff={"Clan name (CR)":clan,'ClanPoints (CR)':clanPoints,"Type (CR)":Type,'Location (CR)':location,'Members (CR)':member, 'Tag (CR)': Tag}
#print(clanPoints)
#print(location)
DFF=pd.DataFrame(dff)

## <span style="color: #ab1ba5"> Pasar a dataframe (df) </span>

In [16]:
DFF=pd.DataFrame(dff)

#TOP 10 CLANES PARA LA FECHA 18/06/2023
CLASH = DFF.sort_values(by='ClanPoints (CR)', ascending=False).head(10).reset_index(drop=True)

uno = CLASH.loc[0, 'Tag (CR)']
print(uno)
CLASH

#YVP8PLPQ

,Clan name (CR),ClanPoints (CR),Type (CR),Location (CR),Members (CR),Tag (CR)
0,kutingin,53851,closed,International,47,#YVP8PLPQ
1,LastMohonky,51263,open,North America,30,#LGVQ99VR
2,PH FREAKSHOW™,51236,open,Philippines,41,#QGU09QC9
3,喧嘩稼業,51003,closed,Japan,29,#QRYLVU2P
4,☆FOU FIGHTERS☆,50689,closed,France,26,#UJPPV9Q
5,Hearthstone BR,49898,closed,Brazil,33,#Y0P2J28C
6,torneo pompeya,47994,inviteOnly,International,23,#LV02LRR8
7,❤Girls On Fire❤,47583,closed,North America,22,#LUJRLPQJ
8,مشهد کینگ,45447,inviteOnly,Iran,26,#8RP8YU
9,khodroservis,44749,inviteOnly,Iran,22,#LUPQ9QUJ

<img src="https://i.ytimg.com/vi/biM_RUsfOso/maxresdefault.jpg" alt="Clash of Clans" width="500">

## <span style="color: #709f1d"> Segunda conexión con la url (str) </span>

In [17]:
clantag = urllib.parse.quote(uno)

with open("token_cr.txt") as f:
    my_key =f.read().rstrip("\n")
    base_url = "https://api.clashroyale.com/v1"
    
    #endpoint = "/cards"
    endpoint = "/clans/%s/members?minMembers=20" % clantag
    
    request = urllib.request.Request(
        base_url+endpoint,
        None,
        {
            "Authorization": "Bearer %s" % my_key
        }
    )
    uclient=urlopen(request)
    responsehtml=uclient.read()
    #type(responsehtml)
    #uclient.close()
    #data = responsehtml.decode()

    #data
    #response = urllib.request.urlopen(request).read().decode("utf-8")
    
    dataP = responsehtml#.decode("utf-8")
    uclient.close()
    dataP
    #data = json.loads(response)
    #for item in data["items"]:
        #print("%s [%d]" % (item["name"], item["maxLevel"]))
        #d ="Clan: %s\nMembers: %d\nScore: %s\nTag: %s\n\n" % (item["name"], item["members"], item["clanScore"], item["tag"])
        #print(d)
    #print(dataP)

## <span style="color: #26a783"> Pasar a diccionario (dict) </span>

In [18]:
infoP = json.loads(dataP)
print(type(infoP))

<class 'dict'>

## <span style="color: #A6BD4C"> Filtrado (df) </span>

In [19]:
nameP=[]
levelP=[]
rol=[]
trofeos=[]
rango=[]
for i in range(len(infoP["items"])):
    nameP.append(infoP["items"][i]["name"])
    levelP.append(infoP["items"][i]["expLevel"])
    rol.append(infoP["items"][i]["role"])
    trofeos.append(infoP["items"][i]["trophies"])
    rango.append(infoP["items"][i]["clanRank"])
dffP={'Player name':nameP,'Level':levelP,"role":rol,"Trophies":trofeos,"Clan Rank":rango}
DFFP=pd.DataFrame(dffP)

## <span style="color: #ab1ba5"> Pasar a dataframe (df) </span>

In [20]:
#TOP 10 CLANES PARA LA FECHA 18/06/2023
DFFP1 = DFFP.head(10)

DFFP1

       Player name  Level      role  Trophies  Clan Rank
0           hisham     44  coLeader      5522          1
1             andy     33  coLeader      5519          2
2        samurai x     43    member      5513          3
3        SHARIZMAN     42  coLeader      5511          4
4            terry     31  coLeader      5510          5
5   Nazarl Jadjuri     28    member      5510          6
6  lu mafia wa gen     45  coLeader      5510          7
7       okay kayoh     33  coLeader      5502          8
8          sayuran     41  coLeader      5475          9
9           andrew     32  coLeader      5466         10


<img src="https://img.redbull.com/images/c_crop,w_1920,h_960,x_0,y_0,f_auto,q_auto/c_scale,w_1200/redbullcom/2020/3/13/hk3rfkvmjl4zx1d9wbze/clash-royale-temporada-9-meta" alt="Clash of Clans" width="500">

## <span style="color: #709f1d"> Tercera conexión con la url (str) </span>

In [21]:
with open("token_cr.txt") as f:
    my_key =f.read().rstrip("\n")
    
    base_url = "https://api.clashroyale.com/v1"
    
    #endpoint = "/cards"
    endpoint = "/cards"
    
    request = urllib.request.Request(
        base_url+endpoint,
        None,
        {
            "Authorization": "Bearer %s" % my_key
        }
    )
    uclient=urlopen(request)
    responsehtml=uclient.read()
    #type(responsehtml)
    #uclient.close()
    #data = responsehtml.decode()

    #data
    #response = urllib.request.urlopen(request).read().decode("utf-8")
    
    data2 = responsehtml#.decode("utf-8")
    uclient.close()
    data2
    #data = json.loads(response)
    #for item in data["items"]:
        #print("%s [%d]" % (item["name"], item["maxLevel"]))
        #d ="Clan: %s\nMembers: %d\nScore: %s\nTag: %s\n\n" % (item["name"], item["members"], item["clanScore"], item["tag"])
        #print(d)
    #print(data2)

## <span style="color: #26a783"> Pasar a diccionario (dict) </span>

In [22]:
info2 = json.loads(data2)
print(type(info2))

<class 'dict'>

## <span style="color: #A6BD4C"> Filtrado (df) </span>

In [23]:
nombre = []
max_level=[]
ID=[]

for i in range(len(info2["items"])):
    nombre.append(info2["items"][i]['name'])
    max_level.append(info2["items"][i]['maxLevel'])
    ID.append(info2["items"][i]["id"])
    
dff2={'Nombre_carta':nombre,'Max_level':max_level,'ID':ID}
DFF_CARTAS=pd.DataFrame(dff2)

## <span style="color: #ab1ba5"> Pasar a dataframe (df) </span>

In [24]:
#TOP 10 CLANES PARA LA FECHA 18/06/2023
DFF_CARTAS = DFF_CARTAS.head(20)

DFF_CARTAS

      Nombre_carta  Max_level        ID
0           Knight         14  26000000
1          Archers         14  26000001
2          Goblins         14  26000002
3            Giant         12  26000003
4        P.E.K.K.A          9  26000004
5          Minions         14  26000005
6          Balloon          9  26000006
7            Witch          9  26000007
8       Barbarians         14  26000008
9            Golem          9  26000009
10       Skeletons         14  26000010
11        Valkyrie         12  26000011
12   Skeleton Army          9  26000012
13          Bomber         14  26000013
14       Musketeer         12  26000014
15     Baby Dragon          9  26000015
16          Prince          9  26000016
17          Wizard         12  26000017
18  Mini P.E.K.K.A         12  26000018
19   Spear Goblins         14  26000019

### <span style="color: #e3840e"> Merge a los Dataframes </span>

In [25]:
#Vamos a unir las dataframes con la cantidad 
union = pd.merge(CLASH, CLAN, left_index=True, right_index=True, how='outer')
#Basándose en los índices en lugar de columnas con nombres idénticos para que no haya conflictos
#print(union)

union

,Clan name (CR),ClanPoints (CR),Type (CR),Location (CR),Members (CR),Tag (CR),ClanPoints CoC,Nombre CoC,Tipo CoC,Location CoC,Nivel de clan CoC,Miembros CoC,Tag CoC
0,kutingin,53851,closed,International,47,#YVP8PLPQ,40470,PINOY 2.0,inviteOnly,Lesotho,29,50,#PQ9V029V
1,LastMohonky,51263,open,North America,30,#LGVQ99VR,34770,Whiskey Barrels,inviteOnly,International,13,48,#2LQCYPCPL
2,PH FREAKSHOW™,51236,open,Philippines,41,#QGU09QC9,34746,سوته دلان,inviteOnly,Iran,21,30,#8V9JVYGJ
3,喧嘩稼業,51003,closed,Japan,29,#QRYLVU2P,34421,the dragon clan,inviteOnly,International,21,47,#RLV2QRUV
4,☆FOU FIGHTERS☆,50689,closed,France,26,#UJPPV9Q,33579,Ordo Ab Chao,closed,,11,20,#2LLG2G0V2
5,Hearthstone BR,49898,closed,Brazil,33,#Y0P2J28C,33563,sttar,inviteOnly,Iran,23,37,#29QQLV9Q
6,torneo pompeya,47994,inviteOnly,International,23,#LV02LRR8,33435,MANABA RIVERS,closed,Philippines,18,41,#JQJUJPRV
7,❤Girls On Fire❤,47583,closed,North America,22,#LUJRLPQJ,31782,العربي الدلفي,inviteOnly,Iraq,15,50,#9VJLUQ8U
8,مشهد کینگ,45447,inviteOnly,Iran,26,#8RP8YU,31715,HKG Premier,inviteOnly,Hong Kong,20,24,#9PC0GRY2
9,khodroservis,44749,inviteOnly,Iran,22,#LUPQ9QUJ,31357,أنين الثلجX,inviteOnly,International,22,39,#8CRULY2

### <span style="color: #876edf"> Pasar a un csv </span>

In [26]:
#Cambiamos dataframe a un archivo csv y lo almacenamos
union.to_csv('Tabla conjunto de ambas aplicaciones.csv', sep = ";" , encoding = "utf-8", index=False)

### <span style="color: #e3840e"> Errores </span>
- HTTP forbidden error: Probable error al ingresar la ip, para solucionar asegurate de usar tu propia ip.
- 400 – 'Bad request': Este error indica que el servidor no ha  entendido la solicitud, para solucionarlo revisar si esta bien tipeado el código.

### <span style="color: #876edf"> Conclusiones </span>



<div>
  <p style="float: left;width:70%">Las APIS`s de Clash of Clans y Clash Royale proporciona acceso a una amplia gama de datos, como información de jugadores, clanes, líderes de clanes, guerras de clanes, perfiles de tropas y muchos otros detalles relevantes del juego. Esto permite a los desarrolladores crear aplicaciones que ayudan a los jugadores a seguir su progreso, planificar estrategias, analizar estadísticas y colaborar de manera más efectiva con sus clanes.</p>
  <img src="https://www.juegosandroides.com/Imagenes/clash-of-clans-vs-clash-royale-cual-es-mejor-.jpg" style="float: right;width:30%;height:auto;">
</div>